<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="western">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
</head>
<body>
    <div id="app">
        <input v-model="ancho" type="range">Ancho   
        <br>
        <input v-model="alto" type="range">
        <br>
        {{ urlCompleta }}
        <br>
        <img :src="urlCompleta" alt="">
        <!-- <input type="text" v-model="enlace">
        <a v-bind:href="enlace">{{ enlace }}</a> -->
        <hr>
        <form @submit.prevent="guardarTarea">
            <input type="text" v-model="nuevaTarea" placeholder="Tarea">
            <input type="submit" value="Guardar">
        </form>
        <br>
        <input type="range" v-model="tiempo">{{ tiempo }}
        <br>
        <input type="search" v-model="busqueda" placeholder="Busqueda por nombre">
        <p v-for="(valor, propiedad) in usuario">{{ valor }} : {{ propiedad }}</p>
        <hr>
        <li v-for="tarea in filtroTareas">{{ tarea.nombre }} - {{ tarea.tiempo }}</li>
        <hr>
        <ul>
            <li v-for="usuario in usuarios">
                {{ usuario.name }}
            </li>
        </ul>
        <hr>
        <h3>Cambia tu contraseña</h3>
        <input type="text" v-model="password">
        <br>
        <p>{{ estado }}</p>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        // Tradicional
        // window.onload = () => {
        //     const form = document.querySelector("form");
        //     const input = document.querySelector("input[type=text]");
        //     form.onsubmit = (evento) => {
        //         evento.preventDefault();     
        //         app.tareas.unshift({
        //             nombre: input.value,
        //             tiempo: 10,
        //         }),
        //         input.value = null;
        //     }
        // };

        
        const vm = new Vue({
            el: "#app",
            data: {
                tema: "Vue Devtools",
                enlace: "http://www.vuejs.org",
                baseUrl: "https://placekitten.com",
                ancho: 50,
                alto: 50,
                tiempo: 0,
                busqueda: '',
                usuario: {
                    username: 'juanwmedia',
                    role: 'admin'
                },
                usuarios: [],
                nuevaTarea: '',
                tareas: [
                    {nombre: 'Aprender JavaScript moderno', tiempo: 3},
                    {nombre: 'Aprender Vue.js', tiempo: 7},
                    {nombre: 'Reparar el coche', tiempo: 22},
                    {nombre: 'Viajar más', tiempo: 16},
                    {nombre: 'Comprar la cena', tiempo: 12},
                    {nombre: 'Mejorar como desarrollador', tiempo: 9},
                    {nombre: 'Dar un curso', tiempo: 14},
                ],
                password: null,
                estado: "Introduce nueva contraseña...",
                novalidos: [
                    "admin",
                    "12345",
                    "password"
                ],
            },
            watch: {
                password(nuevo, antiguo) {
                    if (this.novalidos.indexOf(nuevo)> -1) {
                        this.estado = "Contraseña no valida";
                        return false;
                    }

                    if (nuevo.length < 5) {
                        this.estado = "La contraseña debe tener al menos 5 caracteres";
                        return false;
                    }


                    this.estado ="Contraseña valida";
                }
            },
            created() {
                var url = "https://jsonplaceholder.typicode.com/users";
                fetch(url)
                    .then(respuesta => respuesta.json())
                        .then(respuesta => this.usuarios = respuesta)
            },
            methods: {
                guardarTarea(){
                    
                    this.tareas.unshift({
                        nombre: this.nuevaTarea,
                        tiempo: Math.floor(Math.random()*100),
                    });
                    this.nuevaTarea = null;
                },
            },
            computed: {
                urlCompleta() {
                    return `${this.baseUrl}/${this.ancho * 3}/${this.alto*3}`
                },
                filtroTareas() {
                    return this.tareas.filter(tarea => {
                        return tarea.tiempo <= this.tiempo && tarea.nombre.includes(this.busqueda);
                    })
                }
            }
        });
        Vue.config.devtools = true;
    </script>
    
</body>
</html>